################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs/CoreAdmChamepe/v15
/packages
