@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">*@



@*<p class="lead">ADECS - É o campo de Ceilândia Sul da Assembleia de Deus Ministério Internacional do Guará. Objetiva fazer Deus conhecido por meio da Bíblia e transformação da vida nos seus diversos aspectos.</p>
    @*<p><a href="https://www.youtube.com/channel/UCxdHbuSwmORGUJWT2x9KMWg" class="btn btn-primary btn-lg">Canal Youtube &raquo;</a></p>*@
@*</div>*@
<div class="row">
    <h1>PRÉ CHAMEPE</h1>
</div>
<div class="row">

    <div class="col-md-4">
        <div class="thumbnail">
            <a href="@Url.Action("Create","ParticipanteEventoes", new { eventoId = 1})">
                <img src="~/Imagens/setorial 01.jpeg" alt="Lights" style="width:100%">                
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="@Url.Action("Create","ParticipanteEventoes", new { eventoId = 2})">
                <img src="~/Imagens/setorial 02.jpeg" alt="Lights" style="width:100%">

            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="@Url.Action("Create","ParticipanteEventoes", new { eventoId = 3})">
                <img src="~/Imagens/setorial 03.jpeg" alt="Lights" style="width:100%">

            </a>
        </div>
    </div>
</div>
<div class="row text-center">
    <h4>Faça sua inscrição clicando nos eventos acima e venha ser acrescido na fé! Não se esqueça da mascará!</h4>
</div>
